<h1>Ask a Question</h1>

<form (submit)="addQuestion()" #questionForm="ngForm">
    <textarea name="content" required [(ngModel)]="question.QuestionText" #content="ngModel" class="form-control">
    </textarea>
    <input type="submit" value="Ask" [disabled]="!questionForm.form.valid" class="btn btn-primary">
</form>

<hr>
<button (click)="showAll()">Show Questions</button>
<div class="questions" *ngFor="let q of allQuestions; let idx = index">
    <div class="question">
        <p>{{q.questionText}}</p>
        <p>Asked by: {{q.askedByFirstName}} {{q.askedByLastName}} on {{q.createdAt}}</p>
    </div>
</div>
