.question {
    width: 90%;
    margin: 2%;
    padding: 2%;
    border-bottom: 1px solid lightgray;
    border-bottom-width: 50%;
    vertical-align: top;
}

    .left-summary {
        font-size: 85%;
        text-align: center;
    }
        .left-summary > p {
            text-align: center;
        }

        .answer {
            color: darkgreen;
        }
        .upvote {
            color: purple;
        }

    .right-question {
        border-left: 1px solid lightgray;
    }

        .question-header {
            font-size: 80%;
        }

            .tag {
                font-size: 70%;
                margin-right: 10px;
            }

            .tag-box {
                border: 0.5px solid gray;
                padding: 3px;
                border-radius: 3px;
            }

.footer > p {
    text-align: center;
}