<h1>Questions</h1>
<div class="questions" *ngFor="let q of allQuestions; let idx = index">
    <div class="question">
        <span><b>{{q.askedByFirstName}} {{q.askedByLastName}} </b>({{q.createdAt | date: 'MM/dd/yyyy HH:mm a'}}) asked:</span>
        <p>{{q.questionText | truncate : 150}}</p>
        <button class="btn btn-success" (click)="answerQuestion(q.questionId)">Answer</button>
    </div>
</div>

<hr>
<p>Couldn't find your answer?</p>
<button class="btn btn-warning" (click)="askQuestion()">Ask a Question</button>